* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Inter **/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
}

/** Raleway **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway {
    font-family: "Raleway", sans-serif; 
}


/** header-part **/
.header {
    width: 1440px;
    height: 698px;
    margin: 0 auto;
    background-image: url(./Assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.logo a {
    text-decoration: none;
    font-size: 34px;
    font-weight: 900;
}

.button {
    padding: 14px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #ffffff;
    border: 0;
    font-size: 16px;
    font-weight: 700;
}

.hero-section {
    padding: 158px 267px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section h1 {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 37px;
}


/** main part **/
.main {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: #F6F8FF;
    padding: 74px 0 0;
}


/** first section **/
.first-section {
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.fs-lhs {
    padding: 63px 0;
}

.fs-lhs h3 {
    font-size: 42px;
    font-weight: 700;
}

.fs-lhs p {
    font-size: 24px;
    padding: 23px 0;
}

.fs-rhs img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


/** second section **/
.second-section {
    width: 1140px;
    height: 306px;
    background-color: #D6DDED;
    margin: 116px auto 0;
    padding: 50px 142px;
    border-radius: 24px;
}

.second-section h4 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.activity {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.status span {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.status p {
    text-align: center;
}


/** third section **/
.third-section {
    width: 1140px;
    height: 342px;
    margin: 137px auto 0;
}

.third-section h3 {
    font-size: 42px;
    font-weight: 700px;
    text-align: center;
    padding-bottom: 50px;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.review-ratings {
    width: 366px;
    height: 243px;
    background-color: #F2EDED;
    padding: 24px;
    border-radius: 14px;
}

.desc {
    padding: 24px 0;
}

.desc h5 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 8px;
}

.desc p {
    font-size: 20px;
}

.person-detail {
    display: flex;
    align-items: center;
    gap: 12px;
}

.person-img img {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.name-date h6 {
    font-size: 20px;
}

.name-date p {
    font-size: 18px;
}


/** fourth section **/
.fourth-section {
    width: 1140px;
    height: 696px;
    background-color: #ffffff;
    margin: 115px auto 0;
    padding: 71px 150px;
    border-radius: 14px;
}

.fourth-section h3 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}

.fourth-section p {
    font-size: 20px;
    text-align: center;
}

.webflow-image img {
    width: 100%;
    height: 364px;
    border-radius: 48px;
    margin-top: 88px;
}


/** fifth section **/
.fifth-section {
    width: 1258px;
    height: 636px;
    margin: 114px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-heading {
    width: 528px;
    height: 232px;
}

.contact-heading h1 {
    font-size: 97px;
    font-weight: 700;
}

.contact-form {
    width: 497px;
    height: 490px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 20px 32px;
    font-size: 20px;
    border: 1px solid #D6DEEF;
    outline: none;
    margin-bottom: 19px;
}

textarea {
    width: 100%;
    height: 135px;
    border-radius: 10px;
    padding: 20px 32px 0;
    font-size: 20px;
    border: 1px solid #D6DEEF;
    outline: none;
}

form button {
    padding: 19px 200px;
    margin-top: 19px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}



